
.container {
    margin: 0px;
    display: grid;
    grid-template-areas: "selector" "hr" "data";
    grid-template-rows: 65px 1px 1fr;
    height: 100%;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(44, 43, 43);
    margin: 0px 0px 0px 0px;
    padding: 0;
}