@use '../../../../../../../styles';

.dropdownMenu {
    @extend .dropdown-menu;

    position: absolute;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    left: 5px;
    top: 90px;
    z-index: 2;
    cursor: pointer;

    &.rightAligned {
        left: auto;
        right: 5px;
    }

    a {
        
        white-space:nowrap;
        min-width: 5em;

        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

    }
}