.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 55px;
    position: relative;
    background-color: var(--header-bg-color);
    /* box-shadow: 0 2px 5px #111; */
    box-shadow: var(--panel-box-shadow);
    z-index: 1;
}

.left-part {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.ghost {
    display: inline-block;
    background-image: url('./ghost200x175.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 0 2px;
    margin: 0 15px;
    min-width: 50px;
    min-height: 50px;
}

.ghost:hover {
    background-image: url('./ghost200x175glow.png');
    transition: 0.5s;
}

.title {
    display: inline-block;
    font-size: 1.5em;
    color:  #BBB;
    text-shadow: 1px 1px 2px #111;
    text-align: left;
    cursor: default;
}

/* .title:hover {
    color:  #DFDFDF;
} */

a.login, a.login:visited{
   font-size: 1em;
   color: #BBB;
   text-shadow: 1px 1px 1px black;
   margin-right: 2vw;
}

a.login:active, a.login:hover{
    color: #DFDFDF;
}

.account {
    display: block;
    position: relative;
    height: 55px;
    color: #BBB;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    min-width: 140px;
    max-width: 170px;
}

.account-view {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background-color:  var(--header-bg-color);
    position: relative;
    z-index: 1;
}

.account img {
    border-radius: 30px;
}

.account .name {
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.account:hover {
    color: #FFF;
}

.dropdown-content {
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    overflow: auto;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    text-shadow: none;
    z-index: 0;
    border-radius: 0 0 5px 5px;
    transition: top 0.3s;
}

.dropdown-content a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: var(--dropdown-link-color);
}

.dropdown-content a:link, .dropdown-content a:visited{
    background-color: var(--dropdown-bg-color);
}

.dropdown-content a:hover, .dropdown-content a:active {
    background-color: var(--dropdown-bg-hover-color);
    color: var(--link-hover-color);
    transition: background-color 0.2s;
}

.account:hover .dropdown-content {
    display: block;
    top: 55px;
}

@media screen and (max-width: 520px) {
    .header {
        flex-direction: column;
    }

    .account-view {
        justify-content: center;
    }

    .dropdown-content {
        box-shadow: none;
    }
     
}

