.signInOffer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 55px - 55px);
    text-align: center;
}

.form-text {
    font-size: 1.3em;
    color: #BBB;
    max-width: 80%;
}

.signInOffer a {
    text-decoration: none;
}