.container {
    float: left;
    margin: 9px 10px 10px 5px;
    
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.badge {
    font-family: 'Open Sans', sans-serif; 
    position: relative;   
    opacity: 0.6;
    padding: 0 10px;
    min-width: 320px;
    width: 320px;
    height: 96px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 5px 0;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0);
}


.badge:hover, .badge.active {
    opacity: 1.0;
    border: 1px solid #111;
    box-shadow: 0px 0 5px black;
}

.class {
    position: absolute;
    top: 10px;
    left: 95px;
    color: rgba(240,240,240,0.9);
    font-size: 1.2em;
}

.race {
    position: absolute;
    top: 40px;
    left: 95px;
    color: rgba(200,200,200,0.7);
    font-size: 1em;
}

.light {
    font-family: Arial, sans-serif;
    position: absolute;
    top: 5px;
    right: 14px;
    color: rgb(241, 201, 68);
    font-size: 2em;
}

@media screen and (max-width: 520px) {
    /* .badge:not(.active) {
        display: none;
    }

    .container:hover .badge:not(.active){
        display: block;
        transition: 0.5s;
    } */
}