.selectorImg {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 5px;
}

.container {
    
    grid-area: "selector";
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
   
} 