.appFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    background-color: var(--header-bg-color);
    text-shadow: 0 2px 2px black;
    box-shadow: 0 -2px 5px var(--box-shadow-dark-color);
    position: fixed;
    bottom:0;
    width: 100%;
}


.form-text {
    margin-top: .25rem;
    font-size: .875em;
    color: #6c757d;
}