.appFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    box-sizing: border-box;
    background-color: #212529;
    text-shadow: 0 2px 2px #000;
    box-shadow: 0 -2px 5px #111;
}

.form-text {
    margin-top: .25rem;
    font-size: .875em;
    color: #6c757d;
}

.appFooter a {
    text-decoration: none;
}