.menu {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--panel-bg-color);
    padding: 5px;
    box-shadow: var(--panel-box-shadow);
    margin: 8px 5px 0 5px;
    width: fit-content;
}

.menu a {
    display: block;
    float: left;
    min-width: 80px;
    width: 200px;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
}

.link[href="/vault"] {
    opacity: 0.2;
    pointer-events: none;
}

.link {
    color: #AAA;
}

.activeLink, .activeLink:hover {
    color: #FFF;
    background-color:  rgba(79, 81, 90, 0.8);
    transition: 1s;
}

.link:hover{
    color: #FFF;
}