.panel {
    background-color: rgba(119,135,159,0.4);
    min-width: 300px;
    max-width: 450px;
    padding: 10px;
    color: whitesmoke;
}

.header {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.ordinaryStats {
    padding-top: 10px;
}

.large{
   font-size: xx-large;
}

.stat {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    font-size: medium;
    padding-bottom: 5px;
}

.oddStats .stat{
    justify-content: flex-start;
    font-size: 1.2em;
}

.oddStats .stat .statName {
    padding-left: 10px;
}


.statName {
    float: left;
    width: 40%;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.statValue {
    display: flex;
    justify-items: flex-end;
    float: left;
    width: calc(100% - 40% - 3em);
    height: 100%;
}

.statBar {
    border: 1px solid #EEE;
    height: 19px;
    width: 100%;
}

.statBar > div {
   height: 100%;
   background-color: #EEE;
}

.statValue ~ div {
    width: 3em;
    text-align: right;
}