.background {
    position: relative;
    background-size: cover;
    opacity: 0;
}

.background.loaded {
    opacity: 1;
}

.panel {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(119,135,159,0.4);
    min-width: 240px;
    padding: 10px;
    color: whitesmoke;
}

.large{
   font-size: xx-large;
}

.regular {
    color: whitesmoke;
    font-size: medium;
}