:root {
    --bg-color: #333;    
    --link-color: #0d6efd;
    --link-hover-color: #0a58ca;
    --font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

    --header-height: 55px;
    --footer-height: 55px;

    --header-bg-color: rgb(33,37,41);

    --dropdown-bg-color: #AAA;
    --dropdown-bg-hover-color: #FFF;

    --dropdown-bg-color: rgba(255, 255, 255, 0.9);
    --dropdown-bg-hover-color: rgba(202, 202, 202, 0.95);
    --dropdown-link-color: #111;

    --box-shadow-dark-color: #111;

    --panel-bg-color: #353535;
}


.appWrapper {

}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

.appWrapperContent {
    height: calc(100vh - 55px - 55px);
}

