@use '../../../../../styles';

.wrapper{
    display: inline-block;
}

.weapons, .armor {
    @extend .panel;

    display: inline-block;
    padding: 5px;
    margin: 0 5px 5px 0;
    position: relative;
}

.weapons {
    z-index: 2;
}

.armor {
    z-index: 1;
}

.errorWrapper {
    position: relative;
}